@import 'https://fonts.googleapis.com/css?family=Nunito%20Sans';

:root {
    --font-body: 'Nunito Sans';
    --color-background: #020300;
    --primary-color: #daef68;
    --secondary-color: #1a1a1a;
    --color-text-d: #ececec;
    --color-text-l: #070707;
    font-family: var(--font-body);
}
html {
    background-color: var(--color-background);
}
header {
    margin: 0;
}
body {
    font-size: 14px;
    line-height: 20px;
}
h1 {
    font-size: 24px;
    line-height: 32px;
    color: var(--color-text-d);
}

h2 {
    font-size: 20px;
    line-height: 28px;
    color: var(--color-text-d);
}

h3 {
    font-size: 16px;
    line-height: 24px;
}

h4 {
    font-size: 14px;
    line-height: 20px;
}
footer {
    background-color: var(--primary-color);
    color: var(--color-text-l);
}